*{
    margin: 0;
    padding: 0;
}

body {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px
}

#contenedor{
    margin: 10px auto;
    width: 540px;
    height: 540px;
}

.reloj{
    float: left;
    font-size: 80px;
    font-family: Courier,sans-serif;
    color: #363431;
}

.boton{
    outline: none;
    border: 1px solid #363431;
    color: black;
    width: 128px;
    height: 30px;
    text-shadow: 0px -1px 1px #ffffffb9;
    font-size: 19px;
    border-radius: 5px;
    font-family: Helvetica;
    cursor: pointer;
    background-image: linear-gradient(#00ffea,#00ffea);
}

.boton:active{
    background-image: linear-gradient(#00eeff, #00eeff);
}
